@import "compass/reset";
@import "compass/css3";

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background: #f2eee8;

  img.avator, .profile {
    height: 40px;
    width: 40px;
    border-radius: 40px;
  }
}

header {
  width: 100%;
  height: 60px;
  background: #fffbf5;
  align-items: center;

  nav.left {
    position: relative;
    float: left;
    width: 20%;
    display: inline-block;
    height: 100%;
    .create_new_post, .split, .notification, .mail, .tag {
      align-items: center;
      float: left;
      display: inline-block;
    }
    .create_new_post, .notification, .mail, .tag {
      height: 40px;
      margin: 3% 3% 2% 3%;
      width: 40px;
      position: relative;
      border: solid 1px #f2eee8;
      border-radius: 40px;
    }

    .create_new_post {
      margin-top: 4%;
      background: #80a8cc;
      border: none;
      color: #f2eee8;
    }

    .create_new_post:hover {
      background: #f2eee8;
      color: #80a8cc;
    }

    .notification:hover, .mail:hover, .tag:hover {
      background: #f2eee8;
      color: #fffbf5;
    }

    .split {
      height: 100%;
      width: 1px;
      background: #f2eee8;
    }
    .icon-feather, .icon-bell, .icon-mail, .icon-tag {
      position: relative;
      top: 20%;
    }

  }

  .logo {
    float: left;
    position: relative;
    width: 60%;
    top:30%;
    font-size: 30px;
    color: #80a8cc;
    display: inline-block;
    height: 100%;
  }

  nav.right {
    float: left;
    position: relative;
    width: 20%;
    display: inline-block;
    height: 100%;
    .search {
      float: left;
      display: inline-block;
      position: relative;
      top: 20%;
      border: 1px solid #f2eee8;
      border-radius: 25px;
      height: 60%;
      width: 70%;
      span {
        float: left;
        position: relative;
        top: 20%;
        margin-left: 5%;
        color: #f2eee8;
      }
      .icon-search {
        float: right;
        position: relative;
        top: 30%;
        margin-right: 2%;
      }
    }
    .setting {
      float: left;
      display: inline-block;
      position: relative;
      margin-left: 5%;
      top: 18%;
      height: 100%;

      .icon-cog {
        float: left;
        position: relative;
        top: 20%;
        left: 50%;
        opacity:0;
      }
    }

    .setting:hover {
      img {
        opacity:0.4;
      }
      .icon-cog {
        opacity:1;
      }
    }

  }
}

section.personal_information {
  float: left;
  position: relative;
  width: 20%;
  height: 1100px;
  background: #80a8cc;
  display: inline-block;
  color: #fffbf5;
  font-weight: lighter;
  font-size: 12px;
  box-shadow: 0px 1px 0px #e0dcd7 inset;

  p.name {
    font-weight: bold;
    font-size: 16px;
  }

  .introduction {
    padding: 20px;
  }

  .web:hover {
    color: #6c94b8;
  }

  .follow {
    margin: 30px auto;
    align-content: center;
    background: #6c94b8;
    width: 42%;
    height: 30px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    line-height: 30px;
  }

  .follow:hover {
    background: #fffbf5;
    color: #6c94b8;
  }

  .photo_preview {
    margin: 40px 0 20px 0;
  }

  .activities {
    padding: 20px;
    text-align: left;

    i {
      color: #6c94b8;
      margin-right: 1%;
    }

    span.function {
      color: #6c94b8;
    }

    span.name {
      text-decoration: underline;
    }

    span.name:hover {
      color: #6c94b8;
    }
  }
}

section.posts {
  position: relative;
  float: left;
  width: 60%;
  height: 1100px;
  display: inline-block;
  overflow-y: auto;
  background: #f2eee8;
  box-shadow: 0px 1px 0px #e0dcd7 inset;

  ul {
    padding-bottom: 0;

    li:hover {
      border-bottom: #80a8cc solid 8px;
    }
  }



  .post_detail .header, .post_detail .post,  .post_detail .footer {
    margin: 10px 0;
    font-size: 12px;
    font-weight: lighter;
  }

  .footer {
    i:hover {
      color: #80a8cc;
    }
  }

  div.count {
    background: #fffbf5;
    margin: 4%;
    height: 65px;
    align-content: center;
  }

  .articles {
    margin: 0 4% 0 4%;
  }

  li.tweets, li.photos_videos, li.following, li.followers {
    position: relative;
    float: left;
    width: 25%;
    display: table;
    margin-top: 10px;
  }

  .post_detail {
    padding: 10px 0 0 0;

    .header {
      color: #c6c1b0;
      font-size: 16px;

      .name {
        font-weight: bold;
        color: #000000;
      }

      i {
        color: #acd373;
        font-size: 20px;
      }

      .origin {
        margin-left: 1%;
      }
    }

    .footer {
      color: #c6c1b0;
      font-size: 20px;
      margin-bottom: 1%;

      i.icon-forward, i.icon-star {
        margin-right: 2%;
      }

      i.icon-ellipsis {
        margin-left: 2%;
      }

      span.cycle-count {
        height: 16px;
        font-size: 14px;
      }

    }
  }

}

section.recommend {
  position: relative;
  width: 20%;
  height: 1100px;
  background: #fffbf5;
  display: inline-block;
  text-align: left;
  font-weight: lighter;
  box-shadow: 0px 1px 0px #e0dcd7 inset;

  .philippines_trends, .who_to_follow {
    padding: 20px;
  }

  .who_to_follow {
    font-size: 14px;

    .follow_detail {
      margin: 0 0 0 50px;
    }

    .role {
      color: #c6c1b0;
    }

    .more {
      float: right;
      color: #6c94b8;
    }
  }

  .philippines_trends {
    color: #80a8cc;
  }

  .title {
    color: #000000;
    margin-bottom: 20px;
  }

  .follow_detail {
    position: relative;
    display: block;
    width: 80%;
  }

  section {
    margin-bottom: 20px;

    img.avator {
      position: relative;
      float: left;
    }

    .follow {
      position: relative;
      float: right;
    }

  }
}

img.preview {
  width: 33.3333%;
  height: width;
  margin: 0;
}

#main_avator {
  height: 80px;
  width: 80px;
  border-radius: 80px;
  position: relative;
  top: 60px;
}

#main_avator_field {
  height: 160px;
}

img.post {
  width: 80%;
  height: 80%;
}

li {
  width: 100%;
  margin-bottom: -7px;
  vertical-align: center;
  display: table;
  word-spacing: 0;
  letter-spacing: 0;
}

ul.count {
  height: 80px;
  display: inline;
}

.count li {
  display: inline;
}

article {
  background: #fffbf5;
  margin-top: 2px;
}

article .pic {
  position: absolute;
  width: 50px;
}

article img.avator {
  position: relative;
  top: 20px;
  left: 30px;
}

article .header {
  text-align: right;
}

article .post_detail {
  margin-left: 60px;
  width: 85%;
  display: inline-block;
  text-align: left;
}

img.post {
  width: 100%;
}

section.posts .header .icon-cycle, section.posts .header .name {
  float: left;
  display: inline-block;
}

section.posts .origin {
  float: left;
  display: inline-block;
}

article .time {
  display: inline-block;
}

article .footer {
  text-align: right;
}

.footer .icon-forward, .icon-star, .icon-cycle, .cycle-count, .icon-ellipsis {
  float: left;
  display: inline-block;
}