/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background: #f2eee8;
}
/* line 11, ../sass/style.scss */
body img.avator, body .profile {
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

/* line 18, ../sass/style.scss */
header {
  width: 100%;
  height: 60px;
  background: #fffbf5;
  align-items: center;
}
/* line 24, ../sass/style.scss */
header nav.left {
  position: relative;
  float: left;
  width: 20%;
  display: inline-block;
  height: 100%;
}
/* line 31, ../sass/style.scss */
header nav.left .create_new_post, header nav.left .split, header nav.left .notification, header nav.left .mail, header nav.left .tag {
  align-items: center;
  float: left;
  display: inline-block;
}
/* line 37, ../sass/style.scss */
header nav.left .create_new_post, header nav.left .notification, header nav.left .mail, header nav.left .tag {
  height: 40px;
  margin: 3% 3% 2% 3%;
  width: 40px;
  position: relative;
  border: solid 1px #f2eee8;
  border-radius: 40px;
}
/* line 46, ../sass/style.scss */
header nav.left .create_new_post {
  margin-top: 4%;
  background: #80a8cc;
  border: none;
  color: #f2eee8;
}
/* line 53, ../sass/style.scss */
header nav.left .create_new_post:hover {
  background: #f2eee8;
  color: #80a8cc;
}
/* line 58, ../sass/style.scss */
header nav.left .notification:hover, header nav.left .mail:hover, header nav.left .tag:hover {
  background: #f2eee8;
  color: #fffbf5;
}
/* line 63, ../sass/style.scss */
header nav.left .split {
  height: 100%;
  width: 1px;
  background: #f2eee8;
}
/* line 69, ../sass/style.scss */
header nav.left i {
  position: relative;
  top: 20%;
}
/* line 76, ../sass/style.scss */
header .logo {
  float: left;
  position: relative;
  width: 60%;
  top: 30%;
  font-size: 30px;
  color: #80a8cc;
  display: inline-block;
  height: 100%;
}
/* line 87, ../sass/style.scss */
header nav.right {
  float: left;
  position: relative;
  width: 20%;
  display: inline-block;
  height: 100%;
}
/* line 93, ../sass/style.scss */
header nav.right .search {
  float: left;
  display: inline-block;
  position: relative;
  top: 20%;
  border: 1px solid #f2eee8;
  border-radius: 25px;
  height: 60%;
  width: 70%;
}
/* line 102, ../sass/style.scss */
header nav.right .search span {
  float: left;
  position: relative;
  top: 20%;
  margin-left: 5%;
  color: #f2eee8;
}
/* line 109, ../sass/style.scss */
header nav.right .search .icon-search {
  float: right;
  position: relative;
  top: 30%;
  margin-right: 2%;
}
/* line 116, ../sass/style.scss */
header nav.right .setting {
  float: left;
  display: inline-block;
  position: relative;
  margin-left: 5%;
  top: 18%;
  height: 100%;
}
/* line 124, ../sass/style.scss */
header nav.right .setting .icon-cog {
  float: left;
  position: relative;
  top: 20%;
  left: 50%;
  opacity: 0;
}
/* line 134, ../sass/style.scss */
header nav.right .setting:hover img {
  opacity: 0.4;
}
/* line 137, ../sass/style.scss */
header nav.right .setting:hover .icon-cog {
  opacity: 1;
}

/* line 145, ../sass/style.scss */
section.personal_information {
  float: left;
  position: relative;
  width: 20%;
  height: 1100px;
  background: #80a8cc;
  display: inline-block;
  color: #fffbf5;
  font-weight: lighter;
  font-size: 12px;
  box-shadow: 0px 1px 0px #e0dcd7 inset;
}
/* line 157, ../sass/style.scss */
section.personal_information #main_avator {
  height: 80px;
  width: 80px;
  border-radius: 80px;
  position: relative;
  top: 60px;
}
/* line 165, ../sass/style.scss */
section.personal_information #main_avator_field {
  height: 160px;
}
/* line 169, ../sass/style.scss */
section.personal_information p.name {
  font-weight: bold;
  font-size: 16px;
}
/* line 174, ../sass/style.scss */
section.personal_information .introduction {
  padding: 20px;
}
/* line 178, ../sass/style.scss */
section.personal_information .web:hover {
  color: #6c94b8;
}
/* line 182, ../sass/style.scss */
section.personal_information .follow {
  margin: 30px auto;
  align-content: center;
  background: #6c94b8;
  width: 42%;
  height: 30px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  line-height: 30px;
}
/* line 194, ../sass/style.scss */
section.personal_information .follow:hover {
  background: #fffbf5;
  color: #6c94b8;
}
/* line 199, ../sass/style.scss */
section.personal_information img.preview {
  width: 33.3333%;
  height: width;
  margin: 0;
}
/* line 205, ../sass/style.scss */
section.personal_information .photo_preview {
  margin: 40px 0 20px 0;
}
/* line 208, ../sass/style.scss */
section.personal_information .photo_preview li {
  width: 100%;
  margin-bottom: -7px;
  vertical-align: center;
  display: table;
  word-spacing: 0;
  letter-spacing: 0;
}
/* line 218, ../sass/style.scss */
section.personal_information .activities {
  padding: 20px;
  text-align: left;
}
/* line 222, ../sass/style.scss */
section.personal_information .activities i {
  color: #6c94b8;
  margin-right: 1%;
}
/* line 227, ../sass/style.scss */
section.personal_information .activities span.function {
  color: #6c94b8;
}
/* line 231, ../sass/style.scss */
section.personal_information .activities span.name {
  text-decoration: underline;
}
/* line 235, ../sass/style.scss */
section.personal_information .activities span.name:hover {
  color: #6c94b8;
}

/* line 241, ../sass/style.scss */
section.posts {
  position: relative;
  float: left;
  width: 60%;
  height: 1100px;
  display: inline-block;
  overflow-y: auto;
  background: #f2eee8;
  box-shadow: 0px 1px 0px #e0dcd7 inset;
}
/* line 251, ../sass/style.scss */
section.posts ul {
  padding-bottom: 0;
}
/* line 254, ../sass/style.scss */
section.posts ul li:hover {
  border-bottom: #80a8cc solid 8px;
}
/* line 259, ../sass/style.scss */
section.posts div.count {
  background: #fffbf5;
  margin: 4%;
  height: 65px;
  align-content: center;
}
/* line 265, ../sass/style.scss */
section.posts div.count li.tweets, section.posts div.count li.photos_videos, section.posts div.count li.following, section.posts div.count li.followers {
  position: relative;
  float: left;
  width: 25%;
  display: table;
  margin-top: 10px;
}
/* line 274, ../sass/style.scss */
section.posts .articles {
  margin: 0 4% 0 4%;
}
/* line 277, ../sass/style.scss */
section.posts .articles article {
  background: #fffbf5;
  margin-top: 2px;
}
/* line 281, ../sass/style.scss */
section.posts .articles article .pic {
  position: absolute;
  width: 50px;
}
/* line 287, ../sass/style.scss */
section.posts .articles article img.avator {
  position: relative;
  top: 20px;
  left: 30px;
}
/* line 293, ../sass/style.scss */
section.posts .articles article img.post {
  width: 100%;
}
/* line 297, ../sass/style.scss */
section.posts .articles article .post_detail {
  padding: 10px 0 0 0;
  margin-left: 60px;
  width: 85%;
  display: inline-block;
  text-align: left;
  font-weight: lighter;
}
/* line 305, ../sass/style.scss */
section.posts .articles article .post_detail .header, section.posts .articles article .post_detail .post, section.posts .articles article .post_detail .footer {
  margin: 10px 0;
  font-size: 12px;
}
/* line 310, ../sass/style.scss */
section.posts .articles article .post_detail .header {
  text-align: right;
  color: #c6c1b0;
  font-size: 16px;
}
/* line 315, ../sass/style.scss */
section.posts .articles article .post_detail .header i, section.posts .articles article .post_detail .header .name, section.posts .articles article .post_detail .header .origin {
  float: left;
  display: inline-block;
}
/* line 320, ../sass/style.scss */
section.posts .articles article .post_detail .header i {
  color: #acd373;
  font-size: 20px;
}
/* line 325, ../sass/style.scss */
section.posts .articles article .post_detail .header .name {
  font-weight: bold;
  color: #000;
}
/* line 330, ../sass/style.scss */
section.posts .articles article .post_detail .header .origin {
  margin-left: 1%;
}
/* line 334, ../sass/style.scss */
section.posts .articles article .post_detail .header .time {
  display: inline-block;
}
/* line 339, ../sass/style.scss */
section.posts .articles article .post_detail .footer {
  color: #c6c1b0;
  font-size: 20px;
  margin-bottom: 1%;
  text-align: right;
}
/* line 345, ../sass/style.scss */
section.posts .articles article .post_detail .footer .icon-forward, section.posts .articles article .post_detail .footer .icon-star, section.posts .articles article .post_detail .footer .icon-cycle, section.posts .articles article .post_detail .footer .cycle-count, section.posts .articles article .post_detail .footer .icon-ellipsis {
  float: left;
  display: inline-block;
}
/* line 350, ../sass/style.scss */
section.posts .articles article .post_detail .footer i.icon-forward, section.posts .articles article .post_detail .footer i.icon-star {
  margin-right: 2%;
}
/* line 354, ../sass/style.scss */
section.posts .articles article .post_detail .footer i.icon-ellipsis {
  margin-left: 2%;
}
/* line 358, ../sass/style.scss */
section.posts .articles article .post_detail .footer span.cycle-count {
  height: 16px;
  font-size: 14px;
}
/* line 363, ../sass/style.scss */
section.posts .articles article .post_detail .footer i:hover {
  color: #80a8cc;
}

/* line 375, ../sass/style.scss */
section.recommend {
  position: relative;
  width: 20%;
  height: 1100px;
  background: #fffbf5;
  display: inline-block;
  text-align: left;
  font-weight: lighter;
  box-shadow: 0px 1px 0px #e0dcd7 inset;
}
/* line 385, ../sass/style.scss */
section.recommend .philippines_trends, section.recommend .who_to_follow {
  padding: 20px;
}
/* line 389, ../sass/style.scss */
section.recommend .who_to_follow {
  font-size: 14px;
}
/* line 392, ../sass/style.scss */
section.recommend .who_to_follow .follow_detail {
  margin: 0 0 0 50px;
}
/* line 396, ../sass/style.scss */
section.recommend .who_to_follow .role {
  color: #c6c1b0;
}
/* line 400, ../sass/style.scss */
section.recommend .who_to_follow .more {
  float: right;
  color: #6c94b8;
}
/* line 406, ../sass/style.scss */
section.recommend .philippines_trends {
  color: #80a8cc;
}
/* line 410, ../sass/style.scss */
section.recommend .title {
  color: #000000;
  margin-bottom: 20px;
}
/* line 415, ../sass/style.scss */
section.recommend .follow_detail {
  position: relative;
  display: block;
  width: 80%;
}
/* line 421, ../sass/style.scss */
section.recommend section {
  margin-bottom: 20px;
}
/* line 424, ../sass/style.scss */
section.recommend section img.avator {
  position: relative;
  float: left;
}
/* line 429, ../sass/style.scss */
section.recommend section .follow {
  position: relative;
  float: right;
}
