/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background: #f2eee8;
}
/* line 11, ../sass/style.scss */
body img.avator, body .setting {
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

/* line 18, ../sass/style.scss */
header {
  width: 100%;
  height: 60px;
  background: #fffbf5;
  align-items: center;
}
/* line 23, ../sass/style.scss */
header nav.left {
  position: relative;
  float: left;
  width: 20%;
  display: inline-block;
  height: 100%;
}
/* line 29, ../sass/style.scss */
header nav.left .create_new_post, header nav.left .split, header nav.left .notification, header nav.left .mail, header nav.left .tag {
  align-items: center;
  float: left;
  display: inline-block;
}
/* line 34, ../sass/style.scss */
header nav.left .create_new_post, header nav.left .notification, header nav.left .mail, header nav.left .tag {
  height: 40px;
  margin: 3% 3% 2% 3%;
  width: 40px;
  position: relative;
  border: solid 1px #f2eee8;
  border-radius: 40px;
}
/* line 43, ../sass/style.scss */
header nav.left .create_new_post {
  margin-top: 4%;
  background: #80a8cc;
  border: none;
  color: #f2eee8;
}
/* line 50, ../sass/style.scss */
header nav.left .split {
  height: 100%;
  width: 1px;
  background: #f2eee8;
}
/* line 55, ../sass/style.scss */
header nav.left .icon-feather, header nav.left .icon-bell, header nav.left .icon-mail, header nav.left .icon-tag {
  position: relative;
  top: 20%;
}
/* line 62, ../sass/style.scss */
header .logo {
  float: left;
  position: relative;
  width: 60%;
  top: 30%;
  font-size: 30px;
  color: #80a8cc;
  display: inline-block;
  height: 100%;
}
/* line 73, ../sass/style.scss */
header nav.right {
  float: left;
  position: relative;
  width: 20%;
  display: inline-block;
  height: 100%;
}
/* line 79, ../sass/style.scss */
header nav.right .search {
  float: left;
  display: inline-block;
  position: relative;
  top: 20%;
  border: 1px solid #f2eee8;
  border-radius: 25px;
  height: 60%;
  width: 70%;
}
/* line 88, ../sass/style.scss */
header nav.right .search span {
  float: left;
  position: relative;
  top: 20%;
  margin-left: 5%;
  color: #f2eee8;
}
/* line 95, ../sass/style.scss */
header nav.right .search .icon-search {
  float: right;
  position: relative;
  top: 30%;
  margin-right: 2%;
}
/* line 102, ../sass/style.scss */
header nav.right .setting {
  float: left;
  display: inline-block;
  position: relative;
  margin-left: 5%;
  top: 20%;
}

/* line 113, ../sass/style.scss */
section.personal_information {
  float: left;
  position: relative;
  width: 20%;
  height: 1100px;
  background: #80a8cc;
  display: inline-block;
  color: #fffbf5;
  font-weight: lighter;
  font-size: 12px;
}
/* line 124, ../sass/style.scss */
section.personal_information p.name {
  font-weight: bold;
  font-size: 16px;
}
/* line 129, ../sass/style.scss */
section.personal_information .introduction {
  padding: 20px;
}
/* line 133, ../sass/style.scss */
section.personal_information .follow {
  margin: 30px auto;
  align-content: center;
  background: #6c94b8;
  width: 42%;
  height: 30px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  line-height: 30px;
}
/* line 145, ../sass/style.scss */
section.personal_information .photo_preview {
  margin: 40px 0 20px 0;
}
/* line 149, ../sass/style.scss */
section.personal_information .activities {
  padding: 20px;
  text-align: left;
}
/* line 153, ../sass/style.scss */
section.personal_information .activities i {
  color: #6c94b8;
  margin-right: 1%;
}
/* line 158, ../sass/style.scss */
section.personal_information .activities span.function {
  color: #6c94b8;
}
/* line 162, ../sass/style.scss */
section.personal_information .activities span.name {
  text-decoration: underline;
}

/* line 168, ../sass/style.scss */
section.posts {
  position: relative;
  float: left;
  width: 60%;
  height: 1100px;
  display: inline-block;
  overflow-y: auto;
  background: #f2eee8;
}
/* line 176, ../sass/style.scss */
section.posts ul {
  padding-bottom: 0;
}
/* line 179, ../sass/style.scss */
section.posts li:hover {
  border-bottom: #80a8cc solid 8px;
}
/* line 183, ../sass/style.scss */
section.posts .post_detail .header, section.posts .post_detail .post, section.posts .post_detail .footer {
  margin: 10px 0;
  font-size: 12px;
  font-weight: lighter;
}
/* line 190, ../sass/style.scss */
section.posts .footer i:hover {
  color: #80a8cc;
}
/* line 195, ../sass/style.scss */
section.posts div.count {
  background: #fffbf5;
  margin: 4%;
  height: 65px;
  align-content: center;
}
/* line 202, ../sass/style.scss */
section.posts .articles {
  margin: 0 4% 0 4%;
}
/* line 206, ../sass/style.scss */
section.posts li.tweets, section.posts li.photos_videos, section.posts li.following, section.posts li.followers {
  position: relative;
  float: left;
  width: 25%;
  display: table;
  margin-top: 10px;
}
/* line 214, ../sass/style.scss */
section.posts .post_detail {
  padding: 10px 0 0 0;
}
/* line 217, ../sass/style.scss */
section.posts .post_detail .header {
  color: #c6c1b0;
  font-size: 16px;
}
/* line 221, ../sass/style.scss */
section.posts .post_detail .header .name {
  font-weight: bold;
  color: #000000;
}
/* line 226, ../sass/style.scss */
section.posts .post_detail .header i {
  color: #acd373;
  font-size: 20px;
}
/* line 231, ../sass/style.scss */
section.posts .post_detail .header .origin {
  margin-left: 1%;
}
/* line 236, ../sass/style.scss */
section.posts .post_detail .footer {
  color: #c6c1b0;
  font-size: 20px;
  margin-bottom: 5%;
}
/* line 241, ../sass/style.scss */
section.posts .post_detail .footer i.icon-forward, section.posts .post_detail .footer i.icon-star {
  margin-right: 2%;
}
/* line 245, ../sass/style.scss */
section.posts .post_detail .footer i.icon-ellipsis {
  margin-left: 2%;
}
/* line 249, ../sass/style.scss */
section.posts .post_detail .footer span.cycle-count {
  height: 16px;
  font-size: 14px;
}

/* line 258, ../sass/style.scss */
section.recommend {
  position: relative;
  width: 20%;
  height: 1100px;
  background: #fffbf5;
  display: inline-block;
  text-align: left;
  font-weight: lighter;
}
/* line 267, ../sass/style.scss */
section.recommend .philippines_trends, section.recommend .who_to_follow {
  padding: 20px;
}
/* line 271, ../sass/style.scss */
section.recommend .who_to_follow {
  font-size: 14px;
}
/* line 274, ../sass/style.scss */
section.recommend .who_to_follow .follow_detail {
  margin: 0 0 0 50px;
}
/* line 278, ../sass/style.scss */
section.recommend .who_to_follow .role {
  color: #c6c1b0;
}
/* line 282, ../sass/style.scss */
section.recommend .who_to_follow .more {
  float: right;
  color: #6c94b8;
}
/* line 288, ../sass/style.scss */
section.recommend .philippines_trends {
  color: #80a8cc;
}
/* line 292, ../sass/style.scss */
section.recommend .title {
  color: #000000;
  margin-bottom: 20px;
}
/* line 297, ../sass/style.scss */
section.recommend .follow_detail {
  position: relative;
  display: block;
  width: 80%;
}
/* line 303, ../sass/style.scss */
section.recommend section {
  margin-bottom: 20px;
}
/* line 306, ../sass/style.scss */
section.recommend section img.avator {
  position: relative;
  float: left;
}
/* line 311, ../sass/style.scss */
section.recommend section .follow {
  position: relative;
  float: right;
}

/* line 319, ../sass/style.scss */
img.preview {
  width: 33.3333%;
  height: width;
  margin: 0;
}

/* line 325, ../sass/style.scss */
#main_avator {
  height: 80px;
  width: 80px;
  border-radius: 80px;
  position: relative;
  top: 60px;
}

/* line 333, ../sass/style.scss */
#main_avator_field {
  height: 160px;
}

/* line 337, ../sass/style.scss */
img.post {
  width: 80%;
  height: 80%;
}

/* line 342, ../sass/style.scss */
li {
  width: 100%;
  margin-bottom: -7px;
  vertical-align: center;
  display: table;
  word-spacing: 0;
  letter-spacing: 0;
}

/* line 351, ../sass/style.scss */
ul.count {
  height: 80px;
  display: inline;
}

/* line 356, ../sass/style.scss */
.count li {
  display: inline;
}

/* line 360, ../sass/style.scss */
article {
  background: #fffbf5;
  margin-top: 2px;
}

/* line 365, ../sass/style.scss */
article .pic {
  position: absolute;
  width: 50px;
}

/* line 370, ../sass/style.scss */
article img.avator {
  position: relative;
  top: 20px;
  left: 30px;
}

/* line 376, ../sass/style.scss */
article .header {
  text-align: right;
}

/* line 380, ../sass/style.scss */
article .post_detail {
  margin-left: 60px;
  width: 85%;
  display: inline-block;
  text-align: left;
}

/* line 387, ../sass/style.scss */
img.post {
  width: 100%;
}

/* line 391, ../sass/style.scss */
section.posts .header .icon-cycle, section.posts .header .name {
  float: left;
  display: inline-block;
}

/* line 396, ../sass/style.scss */
section.posts .origin {
  float: left;
  display: inline-block;
}

/* line 401, ../sass/style.scss */
article .time {
  display: inline-block;
}

/* line 405, ../sass/style.scss */
article .footer {
  text-align: right;
}

/* line 409, ../sass/style.scss */
.footer .icon-forward, .icon-star, .icon-cycle, .cycle-count, .icon-ellipsis {
  float: left;
  display: inline-block;
}
